<h2>つくりて新規登録</h2>

<%= form_with model: @creator, url: creator_registration_path, local: true do |f| %>
  <%= render "creators/shared/error_messages", resource: resource %>
　
　<div class="field">
    <%= f.label :氏名 %><br />
  　<%= f.text_field :last_name, autofocus: true %>
  　<%= f.text_field :first_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :フリガナ %><br />
  　<%= f.text_field :last_name_kana, autofocus: true %>
  　<%= f.text_field :first_name_kana, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :アカウント表示名 %><br />
  　<%= f.text_field :nickname, autofocus: true, placeholder: "15字以内で入力してください" %>
  </div>
  
  <div class="field">
    <%= f.label :電話番号 %><br />
  　<%= f.text_field :nickname, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %></br>
    <!--% if @minimum_password_length %>-->
    <!--<em>(%= @minimum_password_length %> characters minimum)</em>-->
    <!--% end %>-->
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "6~16字で設定してください" %>
  </div>

  <div class="field">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "もう一度パスワードを入力してください" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

  <div>
   <p>つくりてでログインする
    <%= link_to new_creator_session_path, class:"text-secondary" do %>
    <i class="far fa-hand-point-right"></i>
    <% end %>
   </p>
 </div>
 
  <div>
   <p>つのりてでアカウントをつくる
    <%= link_to new_musician_registration_path, class:"text-secondary" do %>
    <i class="far fa-hand-point-right"></i>
    <% end %>
   </p>
 </div>

  <div>
   <p>つのりてでログインする
    <%= link_to new_musician_session_path, class:"text-secondary" do %>
    <i class="far fa-hand-point-right"></i>
    <% end %>
   </p>
 </div>


<!--%= render "creators/shared/links" %>-->
