<div>
  <% if @creator.profile_image.attached? %>
   <%= image_tag @creator.profile_image %>
  <% else %>
   <%= image_tag 'no_image.jpg' %>
  <% end %>
</div>
<div>
  <h3><%= @creator.nickname %></h3>
    <% if @creator.id == current_creator.id %>
      <p>
        <%= link_to edit_creator_path, class:"text-secondary" do %>
         <i class="fas fa-cog"></i>
        <% end %>
      </p>
    <% end %>
</div>
<div>
  <p>スケジュール
   <%= @creator.schedule %>
  </p>
  <p>参考価格
    <%= @creator.price %>
  </p>
</div>

    <% if @creator.id == current_creator.id %>
    <!--エントリーした依頼一覧-->
      <p>
        <%= link_to "エントリー中の依頼", entries_path(@creator), class:"text-secondary" %>
      </p>
      <!--お気に入り依頼一覧-->
      <p>
        <%= link_to "お気に入りした依頼", favorite_recruitments_path(@creator), class:"text-secondary" %>
      </p>
      <!--お気に入りしたつのりて-->
      <p>
        <%= link_to "お気に入りしたつのりて", favorite_musicians_path(@creator), class:"text-secondary" %>
      </p>
      <p>
        <%= link_to "依頼管理", working_issues_path(@creator), class:"text-secondary" %>
      </p>

    <% end %>

<div>
  <%= @creator.introduction %>
</div>
<% if @creator.id == current_creator.id %>
  <%= link_to new_artwork_path, class:"text-secondary" do %>
  <i class="fas fa-plus"></i>
  <% end %>
<%end %>

<h4>投稿ポートフォリオ一覧</h4>
<% if @artworks.blank? %>
  <h4>まだポートフォリオの投稿はありません</h4>
<% else %>
  <% @artworks.each do |artwork| %>
    <div>
      <%= link_to artwork_path(artwork.id) do %>
        <% if artwork.artwork_image.attached? %>
         <%= image_tag artwork.artwork_image %>
        <% else %>
         <%= image_tag 'no_image.jpg' %>
        <% end %>
      <% end %>
    </div>
    <% end %>
 <!--%= paginate @arkworks %>-->
<% end %>