<div class="container-fluid mx-0 p-0">
  <div class="main-visual row mx-auto">
    <div class="top-title col-3 pt-5 ml-3">
      <div class="title text-center pb-3">ビジネスマッチングサービス</div>
      <h1 class="sprout text-center">sprout</h1>
    </div>
    <div class="top-img col-9"></div>
  </div>
</div>

<div class="container-fluid mx-0 p-0 mt-4">
  <div class="about_creator row mx-auto">
    <div class="creator-img col-4 py-3 mx-3"></div>
      <div class="creator-text text-center col-6 mx-auto my-auto">
      <p>デザインや写真撮影が得意な方</p>
      <p>デザインや撮影の仕事を探している方</p>
      <p class="creator">つくりて</p>
      <p><%= link_to "新規登録", new_creator_registration_path, class: "btn btn-outline-light" %></p>
    </div>
  </div>
</div>

<div class="container-fluid mx-0 p-0 mt-3">
  <div class="about_musician row mx-auto">
    <div class="musician-text text-center col-6 mx-auto my-auto">
      <p>デザイナーやカメラマンを探している方</p>
      <p class="musician">つのりて</p>
      <p><%= link_to "新規登録", new_musician_registration_path, class: "btn btn-outline-secondary" %></p>
    </div>
    <div class="musician-img col-4 ml-auto mr-3"></div>
  </div>
</div>




<div class="container-fluid">
  <div class="row mt-5 mx-5 pt-5">
    <div class="col-auto m-0 p-0">
      <p class="h4 pl-2"><strong>おすすめ依頼</strong></p>
    </div>
  </div>

  <div class="row mx-5 d-flex justify-content-end">
    <div class="col-auto">
      <%= link_to recruitments_path, class: "text-secondary" do %>
        もっと見る<i class="fas fa-chevron-circle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="slider row mt-2 mx-5">
    <% @recruitments.each do |recruitment| %>
      <div class="card mx-2" style="width: 16rem; height: 20rem;">
        <div class="card-body">
          <h4 class="card-title mb-5">
            <%= link_to recruitment_path(recruitment), class: "text-secondary" do %>
              <%= recruitment.title %>
            <% end %>
          </h4>
          <p class="card-text">
            <%= link_to musician_path(recruitment.musician_id), class: "text-secondary" do %>
              <%= recruitment.musician.nickname %>
            <% end %>
          </p>
          <p class="card-text"><strong>完成目安</strong></br><%= recruitment.deadline %></p>
          <p class="card-text"><strong>依頼単価</strong></br>¥<%= recruitment.price %></p>
        </div>
      </div>
    <% end %>
  </div>

  <% if creator_signed_in? %>
    <div class="row mt-5 mx-5">
      <div class="col-auto mt-5 m-0 p-0">
        <p class="h4 pl-2"><strong>おすすめつのりて</strong></p>
      </div>
    </div>
    <div class="row mx-5 d-flex justify-content-end">
      <div class="col-auto">
        <%= link_to musicians_path, class: "text-secondary" do %>
          もっと見る<i class="fas fa-chevron-circle-right"></i>
        <% end %>
      </div>
    </div>
    <div class="slider row mt-2 mx-5">
      <% @musicians.each do |musician| %>
        <div class="card mx-2" style="width: 18rem; height: 20rem;">
          <div class="card-body">
            <div class="card-title row p-3">
              <div class="col-auto">
                <%= link_to musician_path(musician) do %>
                  <% if musician.profile_image.attached? %>
                    <%= image_tag musician.profile_image, class:"rounded-circle", size: "100x100" %>
                  <% else %>
                   <%= image_tag 'no_image.jpg', class:"rounded-circle", size: "100x100" %>
                  <% end %>
                <% end %>
              </div>
              <h5 class="col-auto my-auto">
                <%= link_to musician_path(musician), class: "text-secondary" do %>
                  <%= musician.nickname %>
                <% end %>
              </h5>
              <p class="card-text row p-3 my-3"><%= musician.introduction %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <% else %>
    <div class="row mt-5 mx-5">
      <div class="col-auto mt-5 m-0 p-0">
        <p class="h4 pl-2"><strong>新着ポートフォリオ</strong></p>
      </div>
    </div>
    <div class="row mx-5 d-flex justify-content-end">
      <div class="col-auto">
        <%= link_to recruit_user_artworks_path, class: "text-secondary" do %>
          もっと見る<i class="fas fa-chevron-circle-right"></i>
        <% end %>
      </div>
    </div>
    <div class="slider row mt-2 mx-5">
      <% @artworks.each do |artwork| %>
        <div class="card mx-2" style="width: 18rem; height: 26rem;">
          <div class="bd-placeholder-img card-img-top">
            <%= link_to artwork_path(artwork) do %>
              <%= image_tag artwork.artwork_image, style: "object-fit: cover; width: 100%; height: 340px;" %>
            <% end %>
            <div class="card-body row">
              <p class="card-text">
                <div class="col-auto py-auto">
                  <%= link_to recruit_user_creator_path(artwork.creator) do %>
                    <% if artwork.creator.profile_image.attached? %>
                      <%= image_tag artwork.creator.profile_image, class:"rounded-circle", size: "40x40" %>
                    <% else %>
                     <%= image_tag 'no_image.jpg', class:"rounded-circle", size: "40x40" %>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-auto my-auto py-auto">
                  <%= link_to creator_path(artwork.creator_id), class: "text-secondary" do %>
                    <%= artwork.creator.nickname %>
                  <% end %>
                </div>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="container p-5"></div>
