<div class="container-fluid mx-0 p-0">
  <div class="musician_main-visual">
  <!--  <div class="text-white">-->
  <!--    <p>デザイナーやカメラマンを募集している</p>-->
  <!--    <p class="h4"><strong>つのりて</strong></p>-->
  <!--    <p class="h2"><i class="fas fa-times"></i></p>-->
  <!--    <p>デザインやカメラマンの求人を探している</p>-->
  <!--    <p class="h4">  <strong>つくりて</strong></p>-->
  <!--    <p>マッチングサイト</p>-->
  <!--    <p class="h3"><strong>ワカバ</strong></p>-->
    </div>
  </div>

<div class="container-fluid">
  <div class="row mt-5 mx-5">
    <div class="col-auto m-0 p-0">
      <p class="h4 pl-2"><strong>新着ポートフォリオ</strong></p>
    </div>
  </div>
  <div class="row mx-5 d-flex justify-content-end">
    <div class="col-auto">
      <%= link_to recruit_user_artworks_path, class: "text-secondary" do %>
        もっと見る<i class="fas fa-chevron-circle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="slider row mt-2 mx-5">
    <% @artworks.each do |artwork| %>
      <div class="card mx-2" style="width: 18rem; height: 26rem;">
        <div class="bd-placeholder-img card-img-top">
          <%= link_to recruit_user_artwork_path(artwork) do %>
              <%= image_tag artwork.artwork_image, style: "object-fit: cover; width: 100%; height: 350px;" %>
          <% end %>
          <div class="card-body row">
            <p class="card-text">
              <div class="col-auto">
                <%= link_to recruit_user_creator_path(artwork.creator) do %>
                  <% if artwork.creator.profile_image.attached? %>
                    <%= image_tag artwork.creator.profile_image, class:"rounded-circle", size: "40x40" %>
                  <% else %>
                   <%= image_tag 'no_image.jpg', class:"rounded-circle", size: "40x40" %>
                  <% end %>
                <% end %>
              </div>
              <div class="col-auto my-auto">
                <%= link_to recruit_user_creator_path(artwork.creator_id), class: "text-secondary" do %>
                  <%= artwork.creator.nickname %>
                <% end %>
              </div>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <div class="container-fluid pt-5">
  <div class="row mt-5 mx-5">
    <div class="col-auto m-0 p-0">
      <p class="h5"><strong>新着つくりて</strong></p>
    </div>
  </div>
  <div class="row mx-5 d-flex justify-content-end">
      <div class="col-auto">
        <%= link_to recruit_user_creators_path, class: "text-secondary" do %>
          もっと見る<i class="fas fa-chevron-circle-right"></i>
        <% end %>
      </div>
    </div>
    <div class="slider row mt-2 mx-5">
      <% @creators.each do |creator| %>
        <div class="card mx-2" style="width: 18rem; height: 20rem;">

          <div class="card-body">
            <div class="card-title row p-3">
              <div class="col-auto">
                <%= link_to recruit_user_creator_path(creator) do %>
                  <% if creator.profile_image.attached? %>
                    <%= image_tag creator.profile_image, class:"rounded-circle", size: "100x100" %>
                  <% else %>
                   <%= image_tag 'no_image.jpg', class:"rounded-circle", size: "100x100" %>
                  <% end %>
                <% end %>
              </div>
              <h5 class="col-auto my-auto">
                <%= link_to recruit_user_creator_path(creator), class: "text-secondary" do %>
                  <%= creator.nickname %>
                <% end %>
              </h5>
            </div>
            <p class="card-text row p-3 my-3"><%= creator.introduction %></p>
          </div>
        </div>
      <% end %>
    </div>
  <div class="container p-5"></div>
</div>

