<div>
  <% if @musician.profile_image.attached? %>
   <%= image_tag @musician.profile_image %>
  <% else %>
   <%= image_tag 'no_image.jpg' %>
  <% end %>
</div>
<div>
  <h3><%= @musician.nickname %></h3>
    <% if @musician.id == current_musician.id %>
      <p>
        <%= link_to edit_recruit_user_musician_path(@musician), class:"text-secondary" do %>
         <i class="fas fa-cog"></i>
        <% end %>
      </p>
    <% end %>
</div>
<div>
  <%= @musician.introduction %>
</div>


<% if @recruitments.blank? %>
  <h4>まだポートフォリオの投稿はありません</h4>
<% else %>
<table>
     <% @recruitments.each do |recruitment| %>
     <tr>
        <td>
         <%= link_to recruit_user_recruitment_path(recruitment) do %>
          <%= recruitment.title %>
         <% end %>
        </td>
  
        <td>
           <%= recruitment.detail %>
        </td>
     </tr>
     <% end %>
   </table>
  <%= paginate @recruitments %>
<% end %>