<h3>つくりて一覧</h3>
 <table>
   <% @creators.each do |creator| %>
   <tr>
      <td> 
       <%= link_to recruit_user_creator_path(creator) do %>
        <% if creator.profile_image.attached? %>
         <%= image_tag creator.profile_image %>
        <% else %>
         <%= image_tag 'no_image.jpg' %>
        <% end %>
      <% end %>
      </td> 
      
      <td>
        <%= link_to recruit_user_creator_path(creator) do %>
         <%= creator.nickname %>
        <% end %>
      </td>

   </tr>
   <% end %>
 </table>

