<h3>依頼詳細</h3>

<table class="table">
  <tbody>
    <tr>
      <th>タイトル</th>
      <td><%= @recruitment.title %></td>
    </tr>
  </tbody>
  
  <!--いいね-->
    <% if @recruitment.favorited_by?(current_creator) %>
    <p>
      <%= link_to recruitment_favorites_path(@recruitment), method: :delete do %>
       ♥
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to recruitment_favorites_path(@recruitment), method: :post do %>
        ♡
      <% end %>
    </p>
  <% end %>
  
  <tbody>
    <tr>
      <th>投稿</th>
      <td><%= l @recruitment.created_at %></td>
    </tr>
  </tbody>
  
  <tbody>
    <tr>
      <th>完成目安</th>
      <td><%= @recruitment.deadline %></td>
    </tr>
  </tbody>
  
  <tbody>
    <tr>
      <th>依頼価格</th>
      <td><%= @recruitment.price %>円</td>
    </tr>
  </tbody> 
  
  <tbody>
    <tr>
      <th>詳細</th>
      <td><%= @recruitment.detail %></td>
    </tr>
  </tbody>
  
  <tbody>
    <tr>
      <th>募集状況</th>
      <td>
        <% if @recruitment.is_closed == false %>
          <%= @recruitment.is_closed = "募集中" %>
        <% else %>
          <%= @recruitment.is_closed = "募集終了" %> 
        <% end %>
      </td>
    </tr>
  </tbody>

 <tbody>
    <tr>
      <th>エントリー数</th>
      <td><%= @recruitment.entries.count %></td>
    </tr>
  </tbody>
  
  <!--依頼へのエントリー-->
 <tbody>
    <tr>
      <th></th>
        <td>
         <% if @recruitment.entried_by?(current_creator) %>
          <p>
            <%= link_to "エントリーを取り消す", recruitment_entries_path(@recruitment), method: :delete %>
          </p>
        <% else %>
         <p>
           <%= link_to "エントリーする", recruitment_entries_path(@recruitment), method: :post %>
         </p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>


  




  
