<div>
  <% if @musician.profile_image.attached? %>
   <%= image_tag @musician.profile_image %>
  <% else %>
   <%= image_tag 'no_image.jpg' %>
  <% end %>
</div>
<div>
  <h3><%= @musician.nickname %></h3>
</div>

<div>
  <!--いいね-->
    <% if @musician.favorited_by?(current_creator) %>
    <p>
      <%= link_to musician_favorites_path(@musician), method: :delete do %>
       <i class="fas fa-heart"></i>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to musician_favorites_path(@musician), method: :post do %>
        <i class="far fa-heart"></i>
      <% end %>
    </p>
  <% end %>
</div>
<div>
  <%= @musician.introduction %>
</div>

<% if @recruitments.blank? %>
  <h4>まだ依頼の投稿はありません</h4>
<% else %>
<table>
     <% @recruitments.each do |recruitment| %>
     <tr>
        <td>
         <%= link_to recruitment_path(recruitment) do %>
          <%= recruitment.title %>
         <% end %>
        </td>
        
        <td>
           <%= recruitment.detail %>
        </td>
     </tr>
     <% end %>
   </table>
  <%= paginate @recruitments %>
<% end %>