<div class="container-fluid mt-5 pt-5 mx-0 p-0">
  <div class=" row d-flex justify-content-center">
    <%= form_with model: @recruitment, url: recruit_user_recruitments_path, local:true do |f| %>
      <table class="table table-borderless text-secondary p-0">
        <tbody>
          <tr>
            <th><%= f.label :title, "タイトル" %></th>
            <td class="pl-3"><%= f.text_field :title %></td>
          </tr>

          <tr>
            <th><%= f.label :deadline, "完成目安" %></th>
            <td class="pl-3"><%= f.date_field :deadline %></td>
          </tr>

          <tr>
            <th><%= f.label :price, "依頼単価" %></th>
            <td>¥<%= f.number_field :price, min: 1 %></td>
          </tr>

          <tr>
            <th><%= f.label :detail, "詳細" %></th>
            <td class="pl-3"><%= f.text_area :detail %></td>
          </tr>

          <tr>
            <th><%= f.label :is_closed, "募集状況" %></th>
            <td class="pl-3"><%= f.radio_button :is_closed, "false", checked: true %>募集中<%= f.radio_button :is_closed, "true" %>募集終了</td>
          </tr>
        </tbody>
　    </table>

      <div class="row d-flex justify-content-end">
        <%= f.submit '投稿', class: "btn btn-outline-secondary col-3" %>
      </div>
    <% end %>
  </div>
  <div class="container p-5"></div>
</div>