<h3>依頼詳細</h3>

<table class="table">
  <tbody>
    <tr>
      <th>タイトル</th>
      <td><%= @recruitment.title %></td>
    </tr>
  </tbody>
  
  <tbody>
    <tr>
      <th>投稿</th>
      <td><%= l @recruitment.created_at %></td>
    </tr>
  </tbody>
  
  <tbody>
    <tr>
      <th>完成目安</th>
      <td><%= @recruitment.deadline %></td>
    </tr>
  </tbody>
  
  <tbody>
    <tr>
      <th>依頼価格</th>
      <td><%= @recruitment.price %>円</td>
    </tr>
  </tbody> 
  
  <tbody>
    <tr>
      <th>詳細</th>
      <td><%= @recruitment.detail %></td>
    </tr>
  </tbody>
  
  <tbody>
    <tr>
      <th>募集状況</th>
      <td>
        <% if @recruitment.musician == current_musician %>
          <%= form_with model: @recruitment, url: recruit_user_recruitment_path(@recruitment.id), method: :patch, local:true do |f| %>
           <%= f.radio_button :is_closed, "false", checked: true %>募集中<%= f.radio_button :is_closed, "true" %>募集終了
           <%= f.submit '更新' %>
          <% end %>
        <% else %>
          <% if @recruitment.is_closed == false %>
            <%= @recruitment.is_closed = "募集中" %>
          <% else %>
            <%= @recruitment.is_closed = "募集終了" %> 
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
  
  <% if @recruitment.musician == current_musician %>
  <tbody>
    <tr>
      <th>
        <%= link_to "削除", recruit_user_recruitment_path(@recruitment.id), class: "btn btn-outline-success btn-lg mr-1" %>
        *つくりてのエントリー後は依頼の削除はできません
      </th>
    </tr>
  </tbody>
  <% end %>
</table>
  
