<h3>依頼詳細</h3>

<table class="table">
  <tbody>
    <tr>
      <th>タイトル</th>
      <td><%= @recruitment.title %></td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th>投稿</th>
      <td><%= l @recruitment.created_at %></td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th>完成目安</th>
      <td><%= @recruitment.deadline %></td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th>依頼価格</th>
      <td><%= @recruitment.price %>円</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th>詳細</th>
      <td><%= @recruitment.detail %></td>
    </tr>
  </tbody>

　<tbody>
    <!--追記一覧-->
    <% @recruitment.recruitment_postscripts.each do |recruitment_postscript| %>
    <tr>
      <th>追記</th>
      <td><%= recruitment_postscript.postscript %></td>
    </tr>
    <tr>
      <th></th>
      <td>投稿日時<%= l recruitment_postscript.created_at %></td>
    </tr>
    <% if recruitment_postscript.musician == current_musician %>
      <tr>
        <th></th>
        <td><%= link_to "削除", recruit_user_recruitment_recruitment_postscript_path(recruitment_postscript.recruitment, recruitment_postscript), method: :delete %></td>
      </tr>
      <% end %>
    <% end %>
  </div>
　</tbody>

  <tbody>
    <tr>
      <th>募集状況</th>
      <td>
        <% if @recruitment.musician == current_musician %>
          <%= form_with model: @recruitment, url: recruit_user_recruitment_path(@recruitment.id), method: :patch, local:true do |f| %>
           <%= f.radio_button :is_closed, "false", checked: true %>募集中<%= f.radio_button :is_closed, "true" %>募集終了
           <%= f.submit '更新' %>
          <% end %>
        <% else %>
          <% if @recruitment.is_closed == false %>
            <%= @recruitment.is_closed = "募集中" %>
          <% else %>
            <%= @recruitment.is_closed = "募集終了" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
  </table>

  <!--依頼削除ボタン/エントリーしたつくりて一覧-->
  <% if @recruitment.musician == current_musician && @recruitment.is_closed == false %>
<!--追記入力欄-->
<div>
<%= form_with(model:[@recruitment, @postscript], url: recruit_user_recruitment_recruitment_postscripts_path(@recruitment.id), local: true) do |f| %>
  <%= f.text_area :postscript, rows:'5',placeholder: "追記事項を入力してください" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
  　<% if @entry_creators.blank? %>
        <%= link_to "削除", private_recruit_user_recruitment_path(@recruitment), method: :patch, "data-confirm" => "本当に削除してよろしいですか？", class: "btn btn-outline-danger" %>
        *つくりてのエントリー後は依頼の削除はできません
    <% else %>
     <h3>エントリーした依頼一覧</h3>
      <table>
       <% @entry_creators.each do |entry_creator| %>
     <tr>
        <td>
         <%= link_to recruit_user_creator_path(entry_creator) do %>
          <%= entry_creator.nickname %>
         <% end %>
        </td>
        <td>
          <p>
           <%= link_to "依頼する", recruit_user_recruitment_issue_path(@recruitment), method: :post %>
         </p>
         </td>
     </tr>
     <% end %>
   </table>
   <% end %>

 <% end %>


