<% if @notifications.blank? %>
<h3>通知はありません</h3>
<% else %>
<div>
  <% @notifications.each do |notification| %>
    <% if notification.action == 'issue' %>
      <p>
       <%= link_to musician_path(notification.visitor_musician_id) do %>

              <%= notification.visitor_musician.nickname %>

       <% end %>
       さんがあなたに
       <%= link_to "依頼しました", issue_path(notification.issue_id) %>
      </p>
    <% else %>
     <p>
       <%= link_to musician_path(notification.visitor_musician_id) do %>
         <%= notification.visitor_musician.nickname %>
       <% end %>
       さんが
       <%= link_to "メッセージ", room_issue_path(notification.message.issue_id) %>
       を送信しました
     </p>
    <% end %>
  <% end %>
</div>
<% end %>