<div class="container-fluid mx-0 p-0">
  <div class="row d-flex justify-content-center m-5 p-5">
    <div class="col-8 d-flex justify-content-center">
      <% if @messages.blank? %>
        <h5 class="text-center">メッセージはありません</h5>

      <% else %>
        <div class="container-fluid mx-0 p-0" id="messages" >
            <% @messages.each do |message| %>
              <% if message.creator %>
                <div class="row d-flex justify-content-end">
                  <div class="col-4 d-flex justify-content-end">
                    <div class="container-fluid mx-0 p-0">
                      <% if message.content.present? %>
                        <div class="row d-flex justify-content-end">
                          <span class="p-2 text-left bg-light rounded"><%= message.content %></span>
                        </div>
                      <% end %>
                      <% if message.image.attached? %>
                        <div class="row d-flex justify-content-end">
                          <span class="p-2 text-center bg-light rounded"><%= image_tag message.image, size: "200x200", class: 'message-image rounded' %></span>
                        </div>
                      <% end %>
                      <div class="row d-flex justify-content-end mb-2">
                        <small><%= l message.created_at %></small>
                      </div>
                    </div>
                  </div>
                </div>

            <% else %>
              <div class="row d-flex justify-content-start">
                <div class="col-6 d-flex justify-content-start">
                  <div class="container-fluid mx-0 p-0">
                    <div class="row d-flex justify-content-start">
                      <span>
                        <% if message.musician.profile_image.attached? %>
                          <%= image_tag message.musician.profile_image, class: "rounded-circle", size: "40x40" %>
                        <% else %>
                          <%= image_tag 'no_image.jpg', class: "rounded-circle", size: "40x40" %>
                        <% end %>
                      </span>
                      <% if message.content.present? %>
                        <div class="row d-flex justify-content-end ml-2">
                          <span class="my-auto p-2 text-left bg-light rounded"><%= message.content %></span>
                        </div>
                      <% end %>
                      <% if message.image.attached? %>
                        <div class="row d-flex justify-content-end ml-2">
                          <span class="p-2 text-center bg-light rounded"><%= image_tag message.image, size: "200x200", class: 'message-image rounded' %></span>
                        </div>
                      <% end %>
                    </div>
                    <div class="row d-flex justify-content-start mb-2">
                      <small><%= l message.created_at %></small>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container p-5 m-5"></div>
</div>

<div class="container-fluid mx-0 px-0">
  <% if @issue.status == "作成完了" %>
    <div class="row d-flex justify-content-center mt-5 mb-5 p-5 border-top fixed-bottom bg-white">
      <p class="text-center">
        作成終了後はメッセージの送信はできません
      </p>
    </div>
  <% else %>
    <div class="row d-flex justify-content-center mt-5 mb-5 p-5 border-top fixed-bottom bg-white" id="new_message">
      <%= form_with model: @message, url: message_path, remote: true do |f| %>
        <%= f.text_field :content, class:"form-control mb-3" %>
        <%= f.file_field :image %>
        <%= f.hidden_field :issue_id, value: @issue.id %>
        <%= f.submit "送信", class:"btn btn-outline-secondary btn-sm" %>
      <% end %>
    </div>
  <% end %>
</div>


