<h4><%= @issue.recruitment.title %></h4>
<div>詳細<%= @issue.recruitment.detail %></div>
<div>依頼者<%= @issue.musician.nickname %></div>
<div>依頼単価<%= @issue.recruitment.price %>円</div>
<div>進行状況<%= @issue.status %></div>
