<div class="container-fluid mx-0 p-0">
  <div class=" row d-flex justify-content-center">
    <div class="col-auto">
      <h4 class="text-center mt-5 mb-3"><strong>進行中の依頼</strong></h4>
    </div>
  </div>
  <div class="row d-flex justify-content-center m-5">
    <% if @issues.blank? %>
      <h5 class="text-center">進行中の依頼はありません</h5>
    <% else %>
      <div class="col-9">
        <table class="table table-borderless text-secondary p-0">
          <% @issues.each do |issue| %>
            <tbody>
              <tr>
                <td class="text-center" style="width: 35%">
                  <%= link_to issue_path(issue), class:"text-secondary" do %>
                    <%= issue.recruitment.title %>
                   <% end %>
                </td>

                <td class="text-center" style="width: 35%">
                  <%= link_to musician_path(issue.musician_id), class:"text-secondary" do %>
                    <%= issue.musician.nickname %>
                  <% end %>
                </td>

                <td class="text-center" style="width: 10%">
                  <%= issue.status %>
                </td>

                <td class="text-center" style="width: 10%">
                <!--DM-->
                  <%= link_to room_issue_path(issue), class:"text-secondary" do %>
                    <i class="far fa-envelope fa-lg"></i>
                  <% end %>
                </td>

                <td class="text-center" style="width: 10%">
                  <%= link_to "詳細", issue_path(issue), class:"btn btn-outline-secondary" %>
                </td>

              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
      <div class="row d-flex justify-content-center p-5">
        <%= paginate @issues %>
      </div>
    <% end %>
  </div>
  <div class=" row d-flex justify-content-end pt-2 mr-5 pr-5">
    <%= link_to completed_issues_path, class:"text-secondary" do %>
      <p><i class="far fa-hand-point-right fa-2x"></i>完了した依頼</p>
    <% end %>
  </div>
  <div class="container p-3"></div>
</div>