<% if @messages.blank? %>
  <p>メッセージはありません</p>
<% else%>
  <% @messages.each do |message| %>
    <div>
      <% if message.creator %>
        <span><%= message.creator.nickname %>:</span>
      <% else %>
        <span><%= message.musician.nickname %>:</span>
      <% end %>
      <span><%= message.content %></span>
    </div>
  <% end %>
<% end %>
<% if @issue.status == "作成完了" %>
<p>
  *作成終了後はメッセージの送信はできません
</p>
<% else %>
<%= form_with model: @message, url: recruit_user_message_path, local: true do |f| %>
  <%= f.text_field :content, class:"address-new-form" %>
  <%= f.hidden_field :issue_id, value: @issue.id %>
  <%= f.submit "送信", class:"register-green-btn" %>
<% end %>
<% end %>