<!DOCTYPE html>
<html>
  <head>
    <title>ワカバ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top shadow">
     <nav class="navbar navbar-expand-lg bg-white navbar-brack">
      <!--つのりてでログイン後-->
        <% if musician_signed_in? %>
         <a class="navbar-brand" href="/recruit_user/">
          <%= image_tag 'logo.png', style: "height: 50px;" %>
         </a>
      <!--管理者ログイン後-->
        <% elsif admin_signed_in? %>
         <a class="navbar-brand" href="/admin/">
          <%= image_tag 'logo.png', style: "height: 50px;" %>
         </a>
        <!--つくりてログイン後とログイン前-->
        <% else %>
         <a class="navbar-brand" href="/">
          <%= image_tag 'logo.png', style: "height: 50px;" %>
         </a>
        <% end %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
          <!--つくりてログイン後-->
          <% if creator_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", creator_path(current_creator.id), class: "nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "依頼管理", working_issues_path(current_creator.id), class:"nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_creator_session_path, method: :delete, class: "nav-link text-dark" %>
            </li>

          <!--つのりてログイン後-->
          <% elsif musician_signed_in? %>
            <li class="nav-item">
             <%= link_to "マイページ", recruit_user_musician_path(current_musician.id), class: "nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "依頼管理", recruit_user_working_issues_path(current_musician.id), class:"nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "依頼投稿", new_recruit_user_recruitment_path, class:"nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "通知", recruit_user_notifications_path, class:"nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_musician_session_path, method: :delete, class: "nav-link text-dark" %>
            </li>

            <!--adminsの定義 start-->
            <!--% elsif admin_signed_in? %>-->
            <!--  <li class="nav-item active">-->
            <!--    <a class="nav-link text-dark" style="text-shadow: 1px 1px 2px yellow;">管理者</a>-->
            <!--  </li>-->
            <!--  <li class="nav-item">-->
            <!--    %= link_to "商品一覧", admin_products_path, class:"nav-link text-dark" %>-->
            <!--  </li>-->
            <!--  <li class="nav-item">-->
            <!--    %= link_to "会員一覧", admin_customers_path, class: "nav-link text-dark" %>-->
            <!--  </li>-->
            <!--  <li class="nav-item">-->
            <!--    %= link_to "注文履歴一覧", admin_path, class: "nav-link text-dark" %>-->
            <!--  </li>-->
            <!--  <li class="nav-item">-->
            <!--    %= link_to "ジャンル一覧", admin_product_categories_path, class: "nav-link text-dark" %>-->
            <!--  </li>-->
            <!--  <li class="nav-item">-->
            <!--    %= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark" %>-->
            <!--  </li>-->
            <!--ログイン前-->
            <% else %>
              <li class="nav-item">
                  <%= link_to "つくりて新規登録", new_creator_registration_path, class: "nav-link text-dark active" %>
              </li>
              <li class="nav-item">
                <%= link_to "つくりてログイン", new_creator_session_path, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "つのりて新規登録", new_musician_registration_path, class: "nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "つのりてログイン", new_musician_session_path, class: "nav-link text-dark" %>
              </li>
            <% end %>
          </ul>

            <!--%= form_with url: search_path, method: :get, class: "form-inline my-2 my-lg-0", local:true do |f| %>-->
            <!--  %= f.text_field 'search[value]', placeholder: "検索", class: "form-control mr-sm-2"%>-->
            <!--  %= f.hidden_field 'search[how]', value: "partical" %>-->
            <!--  %= f.submit "商品検索", class: "btn btn-outline-success my-2 my-sm-0" %>-->
            <!--% end %>-->
      </div>
     </nav>
    </header>
    <%= yield %>
  </body>
</html>

